body {
	background-color: mediumseagreen;
	font-family: Arial, Helvetica, sans-serif;
}

#select_tune {
	margin: 5px;
	display: inline-block;
	height: 2em;
}

#jaffle {
	max-width: 600px;
	height: 400px;
	margin: auto;
	box-shadow: 0 0 10px black;
}

h1 {
	text-align: center;
	margin-bottom: 0.5em;
}

h2 {
	text-align: center;
	font-size: 16px;
	margin-bottom: 1.3em;
}

a {
	text-decoration: none;
	color: khaki;
}

a:hover {
	color: whitesmoke;
}

#select {
	text-align: center;
}

footer {
	position: absolute;
	right: 10px; 
	bottom: 10px;
	text-shadow: 1px 1px 2px black;
	font-weight: bold;
}
