body {
	background-color: mediumseagreen;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

header {
	position: sticky;
	height: 60px;
	background-color: darkseagreen;
	margin: 0px;
	margin-bottom: 1em;
}

main {
	max-width: 600px;
	margin: auto;
}

#select_tune {
	margin: 5px;
	display: inline-block;
	height: 2em;
}

#jaffle_editor {
	height: 400px;
	box-shadow: 0 0 10px black;
	margin-bottom: 10px;
}

header img {
	margin: 13px;
}

header ul {
	margin: 0;
	padding-left: 0;
	display: inline-block;
}

header li {
	margin: 0;
	padding: 15px;
	margin-bottom: 0;
	float: left;
	list-style: none;
	margin-right: 15px;
	font-size: 20px;
	/* font-weight: bold; */
}

header li a {
	color: cornsilk;
}

header li a:hover {
	color: white;
	text-shadow: 1px 1px 5px black;
}

h2 {
	color: whitesmoke;
	text-align: center;
	font-size: 2em;
}

h3 {
	text-align: center;
}

a {
	text-decoration: none;
	color: khaki;
}

a:hover {
	color: whitesmoke;
}

#select {
	text-align: center;
}

.center {
	text-align: center;
}

.spacing {
	margin: 2em;
}
