body {
	background-color: mediumseagreen;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	margin-bottom: 30px;
}

main {
	max-width: 600px;
	margin: auto;
}

header {
	position: sticky;
	height: 60px;
	top: 0px;
	background-color: darkseagreen;
	margin: 0px;
	margin-bottom: 1em;
}

header img {
	margin: 13px;
}

header ul {
	margin: 0;
	padding-left: 0;
	display: inline-block;
}

header li {
	margin: 0;
	padding: 15px;
	margin-bottom: 0;
	float: left;
	list-style: none;
	margin-right: 15px;
	font-size: 20px;
	/* font-weight: bold; */
}

header li a {
	color: cornsilk;
}

header li a:hover {
	color: white;
	text-shadow: 1px 1px 5px black;
}

h1 {
	color: whitesmoke;
	text-align: center;
	font-size: 2em;
}

h2 {
	text-align: center;
}

.subtitle {
	text-align: center;
	font-weight: bold;
}

.description {
	text-align: center;
	margin: 2em;
}

.logo {
	text-align: center;
	margin: 1.5em;
}

a {
	text-decoration: none;
	color: khaki;
}

a:hover {
	color: whitesmoke;
}

#select_tune {
	margin: 5px;
	display: inline-block;
	height: 2em;
}

#jaffle_editor {
	height: 400px;
	box-shadow: 0 0 10px black;
}

#jaffle_editor.large {
	height: 90vh;
	width: 100vw;
	position: absolute;
	top: 60px;
	left: 0;
	margin: 0;
}

code {
	background-color: burlywood;
}

pre {
	margin: 0px;
	padding: 5px;
	font-size: 15px;
}
